html, body {
  height: 100%;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.navbar-nav {
  display:table;
  width:75%;
  margin: 0;
  color: white;
}
.navbar-nav > li {
  float:none;
  display:table-cell;
  text-align:center;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 90%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#graph {
  height: 100%;
  width: 100%;
  /* background-color: rgb(228, 217, 192); */
  background-color: rgb(233, 165, 18); 
}

.node .circle {
fill: #ccc;
stroke: #222; 
stroke-width: 1.5px;
}

.node text {
pointer-events: none;
font: 10px sans-serif;      
stroke-width: 0px;
}
